body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information-forms-container{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: medium;
    padding: 15px;
}
.form-content{
  margin: 20px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  max-width: 500px; /* Adjust as needed */
}
.form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: 500;
    font-size: 1.2rem; 
    color: #333; 
    margin-bottom: 5px; 
    display: block; 
  }
  
  .form-input {
    font-size: 1rem;
    color: #666;
    width: 40%;
    border: none;
    border-bottom: 1px solid transparent; 
    padding: 3px 0;
    outline: none;
    background-image: linear-gradient(to right, #666 0%, #666 100%);
    background-position: bottom;
    background-size: 100% 1px; 
    background-repeat: no-repeat;
    transition: background-size 0.5s, border-color 0.5s;
    position: relative; 
    margin-bottom:10px;
}

.form-input:focus {
    border-bottom-color: #0056b3; 
    background-image: linear-gradient(to right, #0056b3 0%, #0056b3 100%);
    background-size: 100% 1px; 
}

.button-group{
    display: flex;
    justify-content: space-around;
}
.button-design{
    font-size: medium;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3px; 
    background-color: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.15);
    transition: transform 0.3s ease-in-out;
}

.button-design:hover{
    transform: scale(1.05);
}

.add-button{
    color: blue;
    font-weight: bold;
    width: 50%;
    margin-top: 50px;
}

.hidden-forms{
    margin-bottom: 20px;
}

.research-div{
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.15);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:10px;
}

.institution-info{
    display: flex;
    gap:10px;
}

.institution-info img{
    height: 60px;
}

.institution{
    display: flex;
    flex-direction:column;
    gap: 2px;
}