.skills-options {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: flex-start; 
}

.skill-button {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border: none;
    color:white;
    font-size: 18px;
    font-weight:800;
    padding: 10px 20px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: transform 0.5s;
   
}
.skill-button:hover {
    transform: scale(1.05); 
}
.enter-interest{
    display: flex;
    align-items: center;
}
.enter-interest input{
    width: 50%;
    border-radius:2px;
}
.enter-interest button {
    align-items: center;
    border-radius: 3px;
    margin-left:10px;
    background-color: #0056b3; 
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .add-button:hover {
    transition: transform 0.5s;
    
  }
  .remove-button {
    background-color: red;
    color: white;
    margin-left:3px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: darkred; /* Darker red on hover */
  }