.background {
    background-color:aliceblue;
    height: 100%;
    width: 100%; 
    position:fixed;
    top:0;
    left:0;
  }
  .nku-logo {
    width: 150px;
    height: 80px;
  }
  .bi{
    color:black;
  }
  