body{
    background-color: rgb(224, 236, 234);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    max-width: 500px; /* Set a maximum width for the form */
    margin-top: auto; /* Center the form vertically */
    margin-bottom: auto; /* Center the form vertically */
    border-radius: 20px;
}
input {
    border-radius: 20px;
}